body{
    font-family: 'Xanh Mono', monospace;
    margin: 0px;
}
.wel{
    font-family: 'Potta One', cursive;
}
.wel{
    font-size: 35px;
}
.color{
    color: orange;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-section{
    background-image: url("img/top-banner.png");
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.dream-area{
    padding: 50px;
}
p{
    color: dimgray;
}
.dream-area{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.single-ex{
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    height: 250px;
    width: 37%;
}
.exp{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    padding: 10px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#noob{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}
.new-design{
    font-size: 30px;
    color: black;
}