body{
    font-family: 'Xanh Mono', monospace;
}
.wel{
    font-family: 'Potta One', cursive;
}
.wel{
    font-size: 35px;
}
.name-color{
    color: orange;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}