body{
    font-family: 'Xanh Mono', monospace;
    margin: 0px;
}
.wel{
    font-family: 'Potta One', cursive;
}
.wel{
    font-size: 35px;
}
.name-color{
    color: orange;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-section{
    background-image: url("img/top-banner.png");
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.dream-area{
    padding: 50px;
}
p{
    color: dimgray;
}
.dream-area{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}